<!DOCTYPE html>
<html ng-app='myApp'>
<head>
  <meta charset='utf-8'>
  <title>Bowling Score</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/pure-min.css">

  <script src='lib/angular.min.js'></script>
  <script src='scripts/controllers.js'></script>

</head>
<body>

  <h1>Bowling Score</h1>

  <div ng-controller = 'MyController'>

  <h3>Frame numéro: {{ gameData.frameNumber }} </h3>
  <h3>Lancer numéro: {{ gameData.lancerNumber }} </h3>
  <h3>Quilles touchés: {{ gameData.quillesNumber }} </h3>
  <h2>Score actuel: {{ gameData.score }} </h2>

  <button class="pure-button pure-button-primary" ng-show='showPlayButton' ng-click='startGame()'> Jouer </button>
  <br>
  <button class="pure-button button-success" ng-show='showLaunchButton' ng-click='getGameDataFromServer(gameData.frameNumber + 1)'> Lancer </button>
  <br><br>
  <button class="pure-button button-secondary button-small" ng-show='showLaunchButton' ng-click='restartGame()'> Recommencer </button>

  </div>

</body>
</html>
