<!DOCTYPE html>
<html ng-app='myApp'>
<head>
  <meta charset='utf-8'>
  <title>Bowling Score</title>

  <script src='lib/angular.min.js'></script>
  <script src='scripts/controllers.js'></script>

</head>
<body>

  <h1>Bowling Score</h1>

  <div ng-controller = 'MyController'>

  <h3>Frame numéro: {{ gameData.frameNumber }} </h3>
  <h3>Lancer numéro: {{ gameData.lancerNumber }} </h3>
  <h3>Quilles touchés: </h3>

  <h2>Score actuel: {{ gameData.score }} </h2>

  <button ng-show='showPlayButton' ng-click='startGame()'> Jouer </button>
  <br>
  <button ng-show='showLaunchButton' ng-click='getGameDataFromServer(gameData.frameNumber + 1)'> Lancer </button>
  <br>
  <button ng-show='showLaunchButton' ng-click='restartGame()'> Recommencer </button>

  </div>

</body>
</html>
